h1{
    background-color: grey;
    margin-left: 43%;
    margin-right: 43%;
    border-radius: 20px;
    padding: 10px;
}
body{
    background-image: url(https://media.istockphoto.com/id/1194316294/vector/golden-slot-machine-wins-the-jackpot.jpg?s=612x612&w=0&k=20&c=2HO7UO2LR1_r9C8MM-hZf2kOzTKL6zQP5qywB_F_9WE=);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}
summary{
    font-size: 35px;
    margin: 15px;
}
button{
    background-color: rgba(0, 0, 0, 0.54);src: ;
    color: #000000; /* Fekete szöveg */
    padding: 10px 20px; /* Belső tér */
    font-size: 16px; /* Betűméret */
    border-radius: 5px; /* Leegyenesített sarkok */
    transition: background-color 0.3s ease; /* Animáció */

}
button:hover {
    background-color: #007600; /* Zöld háttér, amikor ráviszik a kurzort */
    color: #FFFFFF; /* Fehér szöveg a zöld háttérre */
}
a{
    color: rgb(183, 183, 183);
    text-decoration:none;
}
